body {
    padding: 0;
    margin: 0;
}

#mapid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.legend {
    padding: 6px 8px;
    font: 14px Arial;
    background: #ffffff;
    line-height: 24px;
    color: #555;
}

.legend h1 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
}

.legend span {
    position: relative;
    bottom: 3px;
}

.legend i {
    width: 28px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.8;
}

.legend i.icon {
    background-size: 18px;
    background-color: #ffffff;
}